@use '../abstracts' as *;
@use '../base' as *;
@use '../helpers' as *;


.page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
   place-items: center;
    margin-inline: auto;
    @include mediaQry(laptop){
        place-items: unset;
        background-image: url('../img/desktop-bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;
    }
}
.site_header{
    // background-color: var(--brand);
    padding-block: var(--space-2);
    grid-column: 1/-1;
    @include mediaQry(laptop){
        grid-column: 1;
        grid-row: 1;
        place-self: center;
        margin-inline-end: 21rem;
    }
   

}
#logo_wrapper{
 align-items: center;
 justify-content: center;
 @include mediaQry(laptop){
   
 justify-content: flex-start;
 

 }
}


.small_img_wrapper{
    grid-column: 1/-1;
    @include mediaQry(laptop){
        display: none;
    }
}
.large_img_wrapper{
    display: none;
    @include mediaQry(laptop){
        display: flex;
        grid-column: 2;
        grid-row: 1/-1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        justify-self: flex-end;
        img{
            
            width:100%;
          
        }
    }
}
.main{
    grid-column: 1/-1;
    text-align: center;
    margin-block-end: var(--space-3);
    @include mediaQry(laptop){
        grid-column: 1;
        grid-row: 2;
        place-self: center;
        text-align: unset;
        
    }
  
    h1{
        color: var(--brand);
        max-width: 7ch;
        text-transform: uppercase;
        margin-inline: auto;
        margin-block-end: 15px;

        @include mediaQry(laptop){
            text-align: start;
            margin-inline: unset;
            font-size: 64px;
        }
        span{
            color: var(--body-text);
            font-weight: var(--fw-bolder);
        }
    }
    p{
        line-height: 28px;
        padding-inline: var(--space-4);
        max-width: 400px;
        @include mediaQry(laptop){
            
            padding-inline: (Unset);
            font-size: 16px;
        }
    }
}

input{
    border: var(--gray-light) solid 1px;
    text-transform: capitalize;
    text-align: start;
    min-height: 48px;
    padding-inline-start: var(--space-1);
    margin-block-start: var(--space-3);
    border-radius: 3px;
    width: 300px;

}
button{
    background-color: var(--gray-dark);
    color: var(--site-bg);
    min-width: 64px;
    min-height: 48px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 3px;
    margin-inline-start: -35px;
}